#input-element{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border-color: #757373;
}
.input-div{
    margin-top: 15px;
}
#login-button{
    width: 259px;
    margin-top: 25px;
    background-color: rgb(136, 13, 13);
}